//====================================================================================================

.header {
	background-color: var(--color-general);
	position: relative;

	// height: 617px;
	margin-bottom: 500px;
	@include adaptiveValue('padding-bottom', 133, 50);


	padding-top: 40px;

	&__wrapper {

		display: flex;
		justify-content: space-between;
	}

	&__img {
		@include adaptiveValue('width', 59, 41);
		@include adaptiveValue('height', 59, 41);

		& img {
			max-width: 100%;
			max-height: 100%;
		}
	}

	&__menu {
		display: flex;
		align-items: center;
		@include adaptiveValue('column-gap', 40, 20);

	}

	&__menu-singin {
		color: var(--color-text);
		font-size: 32px;
		font-weight: bold;

		@media screen and (max-width:$mobile) {
			font-size: 16px;
		}
	}

	&__menu-singup {
		color: var(--color-white);
		background-color: var(--color-text);
		font-size: 24px;
		padding: em(11, 16) em(51, 16);

		@media screen and (max-width:$mobile) {
			font-size: 16px;
		}

		border-radius: 15px;
		font-weight: bold;
	}








	//CONTENT

	&__content {
		// margin-top: 130px;
		@include adaptiveValue('margin-top', 130, 50);

	}
	&__content-wrapper{
		height: 200px;
	}
	&__content-text {
		color: var(--color-text);
		@include adaptiveValue('font-size', 96, 32);
		font-weight: bold;
		text-align: center;
		position: absolute;
		opacity: 1;
		max-width: 1300px;
		transition: ease-in 0.3s;
	}
	&__content-text2{
		opacity: 0;
		color: var(--color-text);
		@include adaptiveValue('font-size', 96, 32);
		font-weight: bold;
		text-align: center;
		position: absolute;
		max-width: 1300px;
		transition: ease-in 0.3s;
	}
	&__content-text3{
		opacity: 0;
		color: var(--color-text);
		@include adaptiveValue('font-size', 96, 32);
		font-weight: bold;
		text-align: center;
		position: absolute;
		max-width: 1300px;
		transition: ease-in 0.3s;
	}
	

	&__content-input {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 20px;
		margin-top: 35px;

	}


	&__content-search {
		width: 390px;
		height: 60px;
		border: solid 3px var(--color-text);
		border-radius: 15px;
		padding-left: 10px;
		padding-right: 50px;
		color: var(--color-text);
		background-image: url(../img/search.svg);
		background-repeat: no-repeat;
		background-position: 96% 46%;



		font-size: 24px;

		&::placeholder {
			color: var(--color-text);
			font-size: 24px;

		}


	}

	&__content-category {
		position: relative;
		cursor: pointer;
		padding: 18px 50px 18px 10px;
		border: solid 3px var(--color-text);
		border-radius: 15px;
		background-color: var(--color-white);
		color: var(--color-text);
		@include adaptiveValue('font-size', 20, 8);

		&::after {
			content: " ";
			position: absolute;
			right: 13px;
			top: 13px;
			background-image: url(../img/Frame.svg);
			width: 32px;
			height: 32px;
		}
	}

	&__content-button {
		color: var(--color-white);
		background-color: var(--color-text);
		@include adaptiveValue('font-size', 20, 8);
		padding: 16px 60px;
		border-radius: 15px;
		font-weight: bold;

	}

	// .header__bg

	&__bg {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		@include adaptiveValue('height', 109, 50);

		& img {
			position: absolute;
			@include adaptiveValue('bottom', -109, -50);

			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

	}
}

















@mixin button($bcolor,
	$url,
	$x1,
	$y1,
	$bor,
	$col) {
	background: $bcolor;
	-webkit-mask: url($url);
	mask: url($url);
	-webkit-mask-size: $x1 $y1;
	mask-size: $x1 $y1;
	border: $bor;
	color: $col;
}

@keyframes ani {
	from {
		-webkit-mask-position: 0 0;
		mask-position: 0 0;
	}

	to {
		-webkit-mask-position: 100% 0;
		mask-position: 100% 0;
	}
}

@keyframes ani2 {
	from {
		-webkit-mask-position: 100% 0;
		mask-position: 100% 0;
	}

	to {
		-webkit-mask-position: 0 0;
		mask-position: 0 0;
	}
}

a {
	color: #00ff95;
}



// SEARCH

.mas {
	position: absolute;
	color: var(--color-text);
	text-align: center;
	width: 101%;
	font-weight: 300;
	position: absolute;
	font-size: 32px;
	margin-top: 12px;
	overflow: hidden;
	font-weight: bold;
}



.button-container-3 {
	position: relative;
	width: 186px;
	height: 60px;
	overflow: hidden;
	border: 3px solid var(--color-text);
	transition: 0.3s;
	border-radius: 15px;



	button {
		width: 101%;
		height: 100%;
		font-weight: 300;
		font-size: 32px;
		font-weight: bold;



		@include button(var(--color-text), "https://raw.githubusercontent.com/pizza3/asset/master/natureSmaller.png",
			7100%,
			100%,
			none,
			var(--color-white));
		cursor: pointer;
		animation: ani2 0.5s steps(70) forwards;

		&:hover {
			animation: ani 0.5s steps(70) forwards;
		}
	}
}



// REGISTER



.mas__reg {
	position: absolute;
	color: var(--color-text);
	text-align: center;
	width: 101%;
	font-weight: 300;
	position: absolute;
	font-size: 32px;
	margin-top: 5px;
	overflow: hidden;
	font-weight: bold;
}

.button-container-2 {
	position: relative;
	width: 240px;
	height: 50px;
	overflow: hidden;
	border: 3px solid var(--color-text);
	transition: 0.3s;
	border-radius: 15px;



	button {
		width: 101%;
		height: 100%;
		font-weight: 300;
		font-size: 32px;
		font-weight: bold;



		@include button(var(--color-text), "https://raw.githubusercontent.com/pizza3/asset/master/natureSmaller.png",
			7100%,
			100%,
			none,
			var(--color-white));
		cursor: pointer;
		animation: ani2 0.5s steps(70) forwards;

		&:hover {
			animation: ani 0.5s steps(70) forwards;
		}
	}
}



//====================================================================================================

.header__wave{
	position: absolute;
	top: 65%;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transform: rotate(-180deg);
}

//Burger

.icon-menu {
	display: none;

	// display: block;
	position: relative;
	width: rem(30);
	height: rem(18);
	cursor: pointer;
	z-index: 5;

	span,
	&::before,
	&::after {
		content: "";
		transition: all 0.3s ease 0s;
		right: 0;
		position: absolute;
		width: 100%;
		height: rem(2);
		background-color: var(--color-text);
	}

	&::before {
		top: 0;
	}

	&::after {
		bottom: 0;
	}

	span {
		top: calc(50% - rem(1));
	}

	.menu-open & {
		span {
			width: 0;
		}

		&::before,
		&::after {}

		&::before {
			top: calc(50% - rem(1));
			transform: rotate(-45deg);
		}

		&::after {
			bottom: calc(50% - rem(1));
			transform: rotate(45deg);
		}
	}

}